{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form id="contactForm"  accept-charset="UTF-8" role="form">
  <input name="fromName" type="text" class="feedback-input" placeholder="Name" />
  <input name="fromEmail" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="body" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="Send"/>
</form>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    var url = "/api/ContactForm";
    $("form").on('submit', function (event) {

        event.preventDefault();

        // grab contact form data
        var data = $(this).serialize();

        $("#contactForm").html("<br /><br /><div class='center loader'></div>");

        // hide prior errors, disable inputs while we're submitting
        $("#contactFormError").hide();
        $("#contactForm input").prop('disabled', true);

        // back in my day, we had to AJAX uphill both ways, in the snow, through cross-iframe scripts
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "text",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            success: function (respData) {
                $("loader").hide();
              if (respData == "OutForDelivery")
              {
                // Yay, success!!
                $("#contactForm").html("<div style='padding: 5em 1em; text-align: center; color: #008800'>Thanks for contacting me</div>");
              }
              else
              {
                // Boo, error...
                $("#contactFormError").html("<div style='padding: 1em; text-align: center; color: #660000'>Sorry, an error occurred</div>");
                $("#contactFormError").show();
                $("#contactForm input").prop('disabled', false);
              }
            },
            error: function (jqXHR) {
                // Boo, error...
                $("loader").hide();
                $("#contactFormError").html("<div style='padding: 1em; text-align: center; color: #660000'>Sorry, an error occurred</div>");
                $("#contactFormError").show();
                $("#contactForm input").prop('disabled', false);
            }
        });
    });
</script>
