{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form id="contactForm" class="black-80 sans-serif" accept-charset="UTF-8" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your Name</label>
    <input type="text" id="name" name="fromName" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Email Address</label>
    <input type="email" id="email" name="fromEmail" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      An email address is required.
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">Message</label>
    <textarea id="message" name="body" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

    <input class="db w-100 mv2 pointer white pa3 bn hover-shadow hover-bg-blck bg-animate bg-light-blue" type="submit" value="Send" />
</form>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    var url = "/api/ContactForm";
    $("form").on('submit', function (event) {

        event.preventDefault();

        // grab contact form data
        var data = $(this).serialize();

        $("#contactForm").html("<br /><br /><div class='center loader'></div>");

        // hide prior errors, disable inputs while we're submitting
        $("#contactFormError").hide();
        $("#contactForm input").prop('disabled', true);

        // back in my day, we had to AJAX uphill both ways, in the snow, through cross-iframe scripts
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "text",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            success: function (respData) {
                $("loader").hide();
              if (respData == "OutForDelivery")
              {
                // Yay, success!!
                $("#contactForm").html("<div style='padding: 5em 1em; text-align: center; color: #008800'>Thanks for contacting me</div>");
              }
              else
              {
                // Boo, error...
                $("#contactFormError").html("<div style='padding: 1em; text-align: center; color: #660000'>Sorry, an error occurred</div>");
                $("#contactFormError").show();
                $("#contactForm input").prop('disabled', false);
              }
            },
            error: function (jqXHR) {
                // Boo, error...
                $("loader").hide();
                $("#contactFormError").html("<div style='padding: 1em; text-align: center; color: #660000'>Sorry, an error occurred</div>");
                $("#contactFormError").show();
                $("#contactForm input").prop('disabled', false);
            }
        });
    });
</script>
