  <table class="tg">
    <tr>
      <th class="tg-0pky">Event</th>
      <th class="tg-0pky">Location</th>
      <th class="tg-0pky">Presentation</th>
      <th class="tg-0pky da">Dates</th>
    </tr>
    {{ $dataJ := getJSON "/data/speaking.json" }}
    {{ $sortOrder := "asc"}}
    {{if (eq ($.Get 0) "previous" )}}
    {{ $sortOrder = "desc"}}
    {{end}}
    {{ range sort $dataJ ".startDate" $sortOrder  }}
    {{ $t := (time .endDate) }}
    {{ $show := false}}
    {{ if and (eq ($.Get 0) "upcoming" ) ($t.After now) }}
    {{ $show = true}}
    {{end}}
    {{ if and (eq ($.Get 0) "previous" ) ($t.Before now) }}
    {{ $show = true}}
    {{end}}
    {{ if $show}}
    <tr>
        <td class="tg-0pky"><a href="{{ .url }}" target="_blank">{{ .eventName }}</a></td>
        <td class="tg-0pky">{{ .location }}</td>
        <td class="tg-0pky">{{ replace .talks "|" "<br />" | safeHTML }}</td>
        {{if (eq .startDate .endDate)}}
        <td class="tg-0pky">{{ .startDate | dateFormat "Jan 2, 2006" }}</td>
        {{ else }}
        <td class="tg-0pky">{{ .startDate | dateFormat "Jan 2, 2006" }} - {{ .endDate | dateFormat "Jan 2, 2006" }}</td>
        {{end}}
    </tr>
    {{end}}
    {{ end }}
  </table>

