  <table class="tg">
    <tr>
      <th class="tg-0pky">Event</th>
      <th class="tg-0pky">Location</th>
      <th class="tg-0pky">Presentation</th>
      <th class="tg-0pky da">Dates</th>
    </tr>
    {{ $dataJ := getJSON "/data/speaking.json" }}
    {{ range $dataJ }}
    {{ if (eq ($.Get 0) .done ) }}
    <tr>
        <td class="tg-0pky"><a href="{{ .url }}" target="_blank">{{ .eventName }}</a></td>
        <td class="tg-0pky">{{ .location }}</td>
        <td class="tg-0pky">{{ replace .talks "|" "<br />" | safeHTML }}</td>
        <td class="tg-0pky">{{ .dates }}</td>
    </tr>
    {{end}}
    {{ end }}
  </table>

